.header {
    background-color: black;
    margin: 0 auto;
    padding: 10;
}
h1 {
    color: rgb(255, 98, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24;
}