body {
    background: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 auto;
}

.header {
    background-color: rgb(226, 226, 226);
    margin: 0;
    padding: 5px;
} 
.header img {
    float: left;
    width: 200px;
    height: 150px;
    padding-right: 10px;
}
.header h1 {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;  
    color: rgb(108, 108, 108);
}
